#footer{
    background: rgba(0, 0, 0, 0.13);
    margin-top: 5rem;
    padding: 3rem 0 2rem 0;
    border-top: 0.01px solid rgba(255, 255, 255, 0.123);
}

#footer .container-footer{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
#footer .container-footer .menu{
    display: flex;flex-direction: row;
    position: relative;
    top: 0%;
    right: 0%;
    background: none;
    width: 100%;
    padding: 0;
    transform: none;
}

#footer .container-footer p{
    width: 100%;
}

#footer .container-footer span{
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
#footer .container-footer span:hover{
    color: var(--mc1);
    transition: all 0.3s ease-in-out;
}


#scroll-on-top{
    position: absolute;
    bottom: 150px;
    right: 0;
    transform: rotate(-90deg);
}

#scroll-on-top .on-top{
    display: flex;
    align-items: center;
}

#scroll-on-top p{
    width: 100%;
    color: #fff;
}

#scroll-on-top .on-top i{
    margin-right: 1rem;
    font-size: 1.5rem;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: black;
    filter: drop-shadow(3px 3px 15px #6f00ff41);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

#scroll-on-top .on-top:hover i{
    filter: drop-shadow(3px 3px 15px #6f00ffc0);
    transition: all 0.3s ease-in-out;
}


@media screen and (max-width:1040px){
    #footer .container-footer p{
        font-size: 0.8rem;
    }

    #footer .container-footer .menu{
        font-size: 0.8rem;
    }
}

@media screen and (max-width:479px){
    #footer .container-footer{
        display: flex;
        flex-direction: column;
    }
    #footer .container-footer .menu li{
        margin-left: 0.3rem;
    }
}


